@import "../../styles/common.scss";

.projectDetail {
  width: 1130px;
  margin-left: 486px;
  margin-right: auto;
  .projectTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 66px;
    span {
      font-size: 80px;
      font-weight: 600;
      letter-spacing: 0px;
      color: #33508b;
    }
    .projectSubTitle {
      font-size: 42px;
      color: #33508b;
      padding-top: 36px;
    }
  }
  .projectCenter {
    width: 1130px;
    padding-top: 65px;
    margin-left: auto;
    margin-right: auto;
    .searchDiv {
      display: flex;
      justify-content: space-between;
      .search {
        position: relative;
        width: 270px;
        margin: 0;
        height: 36px;
        margin-top: 12px;
        input {
          width: 178px;
          padding-left: 45px;
          background: none;
          border-bottom: 1px solid #303030;
          border-radius: 0;
          border-top: 1px solid transparent;
          border-left: 1px solid transparent;
          border-right: 1px solid transparent;
          padding: 7px 20px;
          outline: none;
          color: #303030;
        }
        span {
          position: absolute;
          top: 19%;
          margin-left: 0px;
          z-index: 1;
          color: #4f5b66;
        }
      }
    }
    .projectText {
      textarea {
        width: 100%;
        height: 235px;
        margin-top: 32px;
        padding: 20px 20px;
        font-size: 16px;
        outline-style: none;
        resize: none;
        background: #ffffff 0% 0% no-repeat padding-box;
        border: none;
      }
      .attachments {
        display: flex;
        width: 100%;
        margin-top: 8px;
        background: #ffffff 0% 0% no-repeat padding-box;

        .attachmentsDiv {
          display: flex;
          align-items: center;
          cursor: pointer;
          color: #33508b;
          margin-left: 13px;

          i {
            display: flex;
            align-items: center;
            width: 27px;
            height: 35px;
            opacity: 1;
            font-size: 20px;
          }
          .fileUpLoad {
            font-size: 16px;
            height: 20px;
            opacity: 1;
            cursor: pointer;
          }
        }
      }
      .buttonLine {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-top: 24px;
        padding-bottom: 50px;

        .reg {
          width: 116px;
          height: 50px;
          margin-left: 25px;
          border-radius: 25px;
          color: white;
          background: #303030 0% 0% no-repeat padding-box;
          outline-style: none;
          cursor: pointer;
        }
      }
    }
    ul {
      list-style: none;

      .commentBox {
        width: 100%;
        height: 100%;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 2px 9px 20px #00000033;
        opacity: 1;
        margin-bottom: 30px;
        .commentHeader {
          padding-top: 24px;
          margin-left: 26px;
          margin-right: 31px;
          .title {
            display: flex;
            justify-content: space-between;
            span {
              font-size: 18px;
              cursor: pointer;
            }
            .deleteModify {
              span {
                font-size: 14px;
                width: 40px;
                text-decoration: underline;
                padding-left: 8px;
                color: #999999;
              }
            }
          }
          .dayTime {
            margin-top: 8px;
            span {
              font-size: 14px;
              color: #999999;
              letter-spacing: 0px;
            }
          }
          .line {
            margin-top: 24px;
            height: 1px;
            background: #e6e6e6 0% 0% no-repeat padding-box;
          }
        }
        .commentCenter {
          margin: 20px 30px;
          height: 200px;
        }
        .commentFiles {
          display: flex;
          margin: 30px 30px;
          height: 80px;
          .file {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 235px;
            height: 100%;
            border: 1px solid #e6e6e6;
            border-radius: 21px;
          }
        }
        .commentFooter {
          padding: 20px 30px;
          span {
            font-size: 14px;
            letter-spacing: 0px;
            color: #999999;
            padding-left: 24px;
          }
          .commentThread {
            margin-top: 10px;
            height: 42px;
            input {
              width: 85%;
              height: 100%;
              background: #ffffff 0% 0% no-repeat padding-box;
              border: 1px solid #999999;
              border-radius: 21px;
              opacity: 1;
              outline: none;
              padding: 0 24px;
              font-size: 14px;
              color: #999999;
            }
            button {
              width: 144px;
              height: 42px;
              background: #222222 0% 0% no-repeat padding-box;
              border-radius: 21px;
              opacity: 1;
              color: white;
              margin-left: 8px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
